.layoutIndex {

    display: grid;
    grid:
        "main" 5fr "footer" 1fr / auto;
    gap: 8px;
}

.mainIndex {
    grid-area: main;
}

.footerIndex {
    grid-area: footer;
    margin-top: auto;
}

.aside-barra {
    font-size: 40px;
    text-align: center;
    margin: 20px 0;
    color: $cuarto-color;
    font-weight: 600;
    overflow-x: hidden;
}

.aside-adentro {
    font-size: 20px;
    margin-right: 20px;
    text-decoration: none;
    text-align: left;
    overflow-x: hidden;

    a {
        text-decoration: none;
        margin-left: 5px;
        color: $cuarto-color;
        overflow-x: hidden;
    }
}

.contenido1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    margin: 10px;
    object-fit: cover;
    overflow-x: hidden;
}


.fotito {
    height: 300px;
    width: 450px;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.parraf {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    font-weight: 600;
    font-size: 15px;
    background-color: whitesmoke;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.pie2 {
    text-align: center;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to right, #b9bec2, #c2cbce, #cbd8d7, #d7e4e0, #e6f0e7);
}


.ultimo-parrafo {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 5px;
    padding: 10px;

    li {
        a {
            padding: 30px 20px;
            margin-left: 15x;
            font-size: 25px;
            font-weight: 500;
            display: inline-block;
        }
    }
}


.ultima-palabra {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    background-color: rgb(241, 240, 232);
}