.pie2 {
    text-align: center;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to right, #b9bec2, #c2cbce, #cbd8d7, #d7e4e0, #e6f0e7);
}


.ultimo-parrafo {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 5px;
    padding: 10px;
    li {
        a {
            padding: 30px 20px;
            margin-left: 15x;
            font-size: 25px;
            font-weight: 500;
            display: inline-block;
            color: $cuarto-color;
        }
    }
} 


.ultima-palabra {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background-color: rgb(241, 240, 232);
}
