
@mixin tittle {
    text-align: center;
    color: $tercer-color;
    padding-bottom: 20px;
    font-size: 40px;
}



.sobremi-tittle {
   @include tittle;
}

.tittle {
    @include tittle;
}

.inicio-metas {
    @include tittle;
}

.titulo-contacto {
    @include tittle;
}