.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin-right: 15px;
}

.ul-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20px;
}

.paginas {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.986);
  margin-right: 25px;
  padding: 0;
  box-sizing: border-box;
}

.paginas:hover {
  color: rgb(8, 224, 73);
  transition: all ease 0.9s;
}

.pie2 {
  text-align: center;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(to right, #b9bec2, #c2cbce, #cbd8d7, #d7e4e0, #e6f0e7);
}

.ultimo-parrafo {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 5px;
  padding: 10px;
}
.ultimo-parrafo li a {
  padding: 30px 20px;
  margin-left: 15x;
  font-size: 25px;
  font-weight: 500;
  display: inline-block;
  color: rgba(0, 0, 0, 0.986);
}

.ultima-palabra {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  background-color: rgb(241, 240, 232);
}

.inicio {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(195, 237, 194);
  color: rgba(0, 0, 0, 0.986);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layoutIndex {
  display: grid;
  grid: "main" 5fr "footer" 1fr/auto;
  gap: 8px;
}

.mainIndex {
  grid-area: main;
}

.footerIndex {
  grid-area: footer;
  margin-top: auto;
}

.aside-barra {
  font-size: 40px;
  text-align: center;
  margin: 20px 0;
  color: rgba(0, 0, 0, 0.986);
  font-weight: 600;
  overflow-x: hidden;
}

.aside-adentro {
  font-size: 20px;
  margin-right: 20px;
  text-decoration: none;
  text-align: left;
  overflow-x: hidden;
}
.aside-adentro a {
  text-decoration: none;
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.986);
  overflow-x: hidden;
}

.contenido1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
  margin: 10px;
  object-fit: cover;
  overflow-x: hidden;
}

.fotito {
  height: 300px;
  width: 450px;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.parraf {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  font-weight: 600;
  font-size: 15px;
  background-color: whitesmoke;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.pie2 {
  text-align: center;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(to right, #b9bec2, #c2cbce, #cbd8d7, #d7e4e0, #e6f0e7);
}

.ultimo-parrafo {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 5px;
  padding: 10px;
}
.ultimo-parrafo li a {
  padding: 30px 20px;
  margin-left: 15x;
  font-size: 25px;
  font-weight: 500;
  display: inline-block;
}

.ultima-palabra {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  background-color: rgb(241, 240, 232);
}

#tarjetitas {
  overflow-x: hidden;
}

.card {
  height: 15rem !important;
}
.card .card-body {
  margin-left: 30px;
  margin-right: 30px;
  background-color: white;
}
.card .card-title {
  background-color: white;
}
.card .card-text {
  background-color: white;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0;
  font-weight: 500;
}
.info a {
  text-decoration: none;
  color: #000;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  padding-top: 20px;
}

.layoutPresupuesto {
  display: grid;
  grid: "titlePrespuesto" 1fr "mainPresupuesto" 4fr "footerPresupuesto" 1fr/auto;
  gap: 8px;
}

.titlePrespuesto {
  grid-area: titlePrespuesto;
}

.mainPresupuesto {
  grid-area: mainPresupuesto;
}

.footerPresupuesto {
  grid-area: footerPresupuesto;
}

.sobre-mi {
  padding-top: 20px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 25px;
  margin-top: 20px;
  overflow: hidden;
}

.imagen {
  height: 200px;
  width: 350px;
  margin: 0 10px;
}

.parrafo-main {
  padding-top: 30px;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 200;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.pie2 {
  text-align: center;
  border: solid 1px black;
  border-radius: 10px;
  background-image: linear-gradient(to right, #b9bec2, #c2cbce, #cbd8d7, #d7e4e0, #e6f0e7);
}

.ultimo-parrafo {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 5px;
  padding: 10px;
}
.ultimo-parrafo li a {
  padding: 30px 20px;
  margin-left: 15x;
  font-size: 25px;
  font-weight: 500;
  display: inline-block;
}

.ultima-palabra {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  background-color: rgb(241, 240, 232);
}

.contenido-prin {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 25px;
  margin-top: 20px;
  overflow: hidden;
}

.imagen:hover {
  height: 200px;
  width: 350px;
  margin: 0 10px;
  transition: transform;
  transform: scale(1.1);
  transition: all ease 0.9s;
}

.parrafo-main {
  padding: 10px;
  margin-left: 25px;
  font-size: 18px;
  font-weight: 200;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media screen and (max-width: 365px) {
  .imagen {
    height: 150px;
    width: 150px;
  }
  .imagen .parrafo-main {
    font-size: 10px;
  }
}
.titulo2-contacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgba(78, 73, 73, 0.911);
  font-size: 30px;
  padding: 10px 0;
  margin-left: 10px;
}

.form {
  width: 340px;
  height: 440px;
  background: #eaf8e9;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  position: relative;
}

.llamame {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #76d673;
  border-bottom: 3px solid #78788c;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}

input:focus {
  border-bottom: 2px solid #78788c;
}

p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #000;
}

button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: rgba(0, 0, 0, 0.986);
  cursor: pointer;
  transition: all 0.7s;
}

button:hover {
  background: #78788c;
  color: #fff;
}

.spa {
  position: absolute;
  bottom: -40px;
  right: 18px;
  background: #979596;
  color: #fff;
  width: 300px;
  padding: 10px 4px 10px 0;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px #000;
}

span {
  margin: 0 5px 0 15px;
}

.picture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  padding-top: 20px;
}

.persona {
  height: 200px;
  width: 350px;
  margin: 0 10px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.informacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  font-weight: 600;
  padding-top: 10px;
  margin: 10px;
}

.informacion2 {
  list-style: none;
  padding-bottom: 20px;
  margin: 0 5px 0 15px;
}

.tittle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  padding-bottom: 20px;
  font-size: 40px;
}

.sobremi-tittle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  padding-bottom: 20px;
  font-size: 40px;
}

.inicio-metas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  padding-bottom: 20px;
  font-size: 40px;
}

.titulo-contacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  padding-bottom: 20px;
  font-size: 40px;
}

/*# sourceMappingURL=style.css.map */
